<p>test-services works!</p>
<form #f='ngForm' (ngSubmit) = "locationFormSubmit($event)" >
    <div>
        <label for="streetNumber">Street Number</label>
        <input type="number" [(ngModel)]="streetNumber">
    </div>
    <div>
        <label for="streetName">Street Name</label>
        <input type="text" [(ngModel)]="streetName">
    </div>
    <div>
        <label for="city">Street Name</label>
        <input type="text" [(ngModel)]="city">
    </div>
    <div>
        <label for="state">Street Name</label>
        <input type="text" [(ngModel)]="state">
    </div>
    <div>
        <label for="zipcode">Street Name</label>
        <input type="text" [(ngModel)]="zipcode">
    </div>
    <button type="submit"> submit </button>
</form>